/* Reset gaya dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background: #5b4f5a;
    color: #fff;
    padding: 1em;
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
}

#home,
#profil,
#galeri,
#kontak {
    margin-bottom: 2em;
}

.gallery {
    display: flex;
    gap: 1em;
}

.gallery img {
    width: 150px;
    height: auto;
    border-radius: 8px;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 500px;
    margin: 0;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}